
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

.rojo {
    box-shadow: -9px 4px 400px 172px rgba(252,13,13,0.63);
}

.amarillo {
    box-shadow: -9px 4px 400px 172px rgba(247,252,13,0.63);
}

.verde {
    box-shadow: -9px 2px 400px 172px rgba(10,222,31,0.63);
}
